body {
    background-color: #504A4A;
}

h2 {
    color: black;
}
h1 {
    color: white;
}

.panel > .panel-heading {
    background-color: #f78f3f;
}

.panel {
    background-color: #504A4A;
    border: solid 1px white;
    text-align: center;
    height: 450px;
}

.charDescription {
    color: #e23636;
}

.charImage {
    border-radius: 100%; 
}

.femaleImage{
    border: solid 5px pink;
}

.maleImage {
    border: solid 5px #518CCA;
}